body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    padding: 0 300px 0 300px;
    align-items: center;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 22px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.top {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    padding: 150px 300px 100px 300px;
}

.body {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding-right: 70px;
}


.top-left {
    font-size: 18px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 100px;
    color: #E5E7EB;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
}
.top-right
img {
    box-shadow: #E5E7EB 5px 5px;
    border-radius: 15px;
}

.awesome2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 180px;
}

button {
    background-color: #3882F6;
    border-radius: 15px;
    color: white;
    font-size: large;
    width: 150px;
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    box-shadow: slateblue 5px 5px;
}

button:hover {
     border: dashed #E5E7EB;
}