* {
    box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
    display: flex;
    height: 100px;
    background-color: #2b3d57;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    padding: 0 300px 0 300px;
    align-items: center;
    font-weight: bold;
    position: fixed;
    right: 0;
    left: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 22px;
}

ul li:hover {
  color: #94b5e2;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.top {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    padding: 150px 300px 100px 300px;
    justify-content: center;
}

.body {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding-right: 70px;
}


.top-left {
    font-size: 18px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 100px;
    color: #E5E7EB;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
}
.top-right
img {
    box-shadow: #E5E7EB 5px 5px;
    border-radius: 15px;
}

.awesome2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 180px;
}
.button
button {
    background-color: #3882F6;
    border-radius: 15px;
    color: white;
    font-size: large;
    width: 150px;
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    box-shadow: slateblue 5px 5px;
}

button:hover {
     border: dashed #E5E7EB;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.mid {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 70px;
}

.container
img {
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.container {
    width: 300px;
    height: auto;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    padding: 100px 400px 100px 400px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 22px;
}

.box {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    margin: 100px 300px 100px 300px;
    border-radius: 15px;
    gap: 250px;
}

.box-text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

h3 {
    color: white;
    margin-bottom: 0;
}

.button2
button {
    background-color: #3882F6;
    border-radius: 15px;
    color: white;
    font-size: large;
    width: 150px;
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
    border: solid white;
    margin: 20px;
}
