body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
    display: flex;
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    padding: 0 200px 0 200px;
    align-items: center;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 22px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}


